
.solve{
    width: 1920px;
    background: #fff;
}

.design{
    width: 1200px;
    margin: 0 auto;
}
.design-title{
    width:100%;
    padding-bottom: 70px;
}
.design-title h1{
    text-align: center;
    color: #000;
    font-size: 32px;
    width: 100%;
}
.design-title p{
    font-size: 24px;
    color: #969696;
    text-align: center;
    width: 100%;
}

.design-icon{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.design-icon > div{
    flex-basis: 24%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.design-icon > div:not(:last-child):after {
    position: absolute;
    content: '';
    width:2px;
    height: 100%;
    background:#f0f3fe;;
    bottom: 0;
    right: 0;

}
.design-border{
    padding-bottom: 21px;
}

.design-desc{
    font-size: 20px;
    line-height: 30px;
    max-width: 210px;
    margin-top: 35px;
}

/* framework */

.framework{
    width: 1200px;
    margin: 0 auto;
    padding-top: 125px;
}

.framework-title{
    text-align: center;
    margin-bottom: 40px;
}
.framework-title-ch{
    font-size: 32px;
    color: #000;
}
.framework-title-en{
    font-size: 24px;
    color: #969696;
}
.framework-desc{
    padding-bottom: 135px;
}
.framework-desc .framework-desc-descript{

    font-size: 16px;
    line-height: 30px;
    

}
.framework-avator{
    text-align: center;
}
.framework-avator img{
    width: 979px;
    height: 788px;
}

/* system */

.system{
    width: 1200px;
    margin: 0 auto;
    padding-top: 135px;
   
}
.system-title{
    text-align: center;
}
.system-title-ch{
    font-size: 32px;
    color: #000;
    line-height: 18px;
}

.system-title-en{
    font-size: 24px;
    color: #969696;
    line-height: 18px;
    margin-top: 20px;
    margin-bottom: 35px;
}
.system-desc p{
   font-size: 16px;
   line-height: 24px;
}
.system-avator{
    padding-top: 100px;
}
.system-avator{
    text-align: center;
}

.system-avator img{
    width: 1052px;
    height: 721px;
}
.system-img{
    position: relative;
    width: 100%;
}
.system-img-left{
    padding-top: 155px;
    padding-bottom: 145px;
    text-align: left;
}
.system-img-right{
    position: absolute;
    padding:50px 25px 45px 65px;
    right: 0;
    top: 50%;
    transform:translateY(-50%); 
    background-color: #007eff;
}
.system-img-right-title{
    color: #fff;
    font-size: 24px;
    line-height: 30px;
}
.system-img-right-desc{
  max-width: 352px;
  color: #fff;
}


/* viewshow */
.viewshow{
    width: 100%;
    border:1px solid blue;
    background-image: url(../img/viewshow.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 554px;
    position: relative;
    
}

.viewshow-banner{
    width: 1400px;
    margin: 0 auto;
  
}
.swiper2{
    width: 1200px;
    margin: 0 auto;
   
}
.swiper-slide{
    display: flex;
    width: 100%;
    padding-top: 60px;
    box-sizing: border-box;
}
.viewshow-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    box-sizing: border-box;
}
.viewshow-title-flex{
  
    background-color: #fff4ee;
    padding: 35px 30px 70px;
    width: 619px;
}

.viewshow-title-flex h1{
    font-size: 30px;
    line-height: 30px;
    margin: 0;
}
.viewshow-title-flex p{
    font-size: 16px;
    line-height: 30px;
}
.detail{
    text-decoration: none;
    color: #1c74db;
    height: 50px;
    width: 154px;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    margin-top: 25px;
    font-size: 16px;
}
.detail:hover{
    text-decoration: none;
    color: #1c74db;
}
.viewshow-avator{
    width: 582px;
    height: 451px;
}
.viewshow-avator img{
    width: 100%;
    height: 100%;
}

.viewshow-banner{
    position: relative;
}



.swiper-button-next{
    color: #fff;
}

.swiper-button-prev{
    color: #fff;
}


/* support */

.support{
    width: 1200px;
    margin: 0 auto;
    margin-top: 70px;
}
.support-top{
    width: 100%;
    text-align: center;
}

.support-title{
    padding-bottom: 90px;
}

.support-title h1{

    font-size: 32px;
    color: #000;
}

.support-title p{
    font-size: 24px;
    color:#c4c4c4;
}

.terrace-title h1{
   font-size: 20px;
}
.terrace-title p{
    font-size: 16px;
    line-height: 30px;
}

.support-terrace{
    display: flex;
    justify-content: space-between;
}

.terrace-title{
    max-width: 654px;
    
}
.terrace-title h1{
    font-size: 20px;
    color: #000;
    font-weight: bold;
    text-align: left;
    margin: 0;
    margin-bottom: 30px;
}
.terrace-avatro{
    max-width: 460px;
}
.terrace-avatro{
    width: 100%;
}
.terrace-detial{
    margin-top: 50px;
}
.terrace-nav{
    display: inline-block;
    width: 140px;
    height: 45px;
    background-color: #076ce0;
    color: #fff;
    line-height: 45px;
    text-align: center;
    margin-right: 35px;
    border-radius: 5px;
    text-decoration:none;
}
.terrace-nav:hover{
    color: #fff;
    text-decoration: none;
}
.terrace-tab{
    display: inline-block;
    width: 110px;
    height: 45px;
    color: #076ce0;
    line-height: 45px;
    text-align: center;
    margin-right: 35px;
    border-radius: 5px;
    text-decoration:none;
    border: 1px solid #076ce0;
}
.terrace-tab:hover{
    color: #076ce0;
    text-decoration: none;
}
.support-resver{
   margin-top: 180px;
   margin-bottom: 78px;
}

/* structure */

.structure{
    width: 1200px;
    margin:0 auto;
  
}
.structure-title{
    text-align: center;
}
.structure-title h1{
    font-size: 32px;

}

.structure-title p{
    color:#969696;
    font-size: 24px;
}

.structure-list{
    margin: 0;
    padding: 0;
    padding-top: 60px;
    padding-bottom: 100px;
    
}
.structure-items{
    width: 100%;
    display: flex;
    padding: 32px 42px 32px 57px;
    border:1px solid #d9d9d9;
    margin:0;
    justify-content: space-between;
    margin-bottom: 28px;
    box-shadow: #d9d9d9 1px 1px 3px 0px inset 
}
.items-left{
    width: 100px;
    height: 100px;
    background-color: #146bd4;
    color: #fff;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    font-weight: bold;
}

.items-right{
    max-width: 980px;
}
.items-right-title{
    font-size: 20px;
    margin:0;
    margin-bottom: 10px;
}
.items-right-desc{
    font-size: 16px;
    line-height: 30px;
}